<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>bars - DC Craft Bartenders Guild</title>
    <link href="/css.php?n=default" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body class="bars">
    <div class="container">
      <header>
        <nav>
          <a id="nav-toggle"></a>
          <ul>
            <li><a href="/members">Members</a></li>
            <li><a href="/events">Events</a></li>
            <li class="on"><a href="/bars">Bars</a></li>
            <li class="logo"><a href="/"><img src="/images/logo.svg" class="desktop" alt="" /></a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </header>
      <section>





<h1>Bars</h1>
<div id="map"></div>







      
      <!-- txp:article_custom pgonly="0" section="recipes" -->
      </section>
      <footer>
        <ul class="links">
          <li><a href="/events">Events</a></li>
          <li><a href="/bars">Bars</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/members">Members</a></li>
        </ul>

        <p>Copyright 2014 <strong>D.C. Craft Bartenders Guild</strong> &mdash; <a href="https://twitter.com/DCCraftBarGuild" class="twitter"></a><a href="https://www.facebook.com/dccraftbarguild" class="facebook"></a></p>
        <p><img src="/images/stars-and-bars.svg" alt="" /></p>
      </footer>
    </div>
  <script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $('header > nav > a').click(function() {
    $('header > nav').toggleClass('open');
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50869073-1', 'dccraftbartendersguild.org');
  ga('send', 'pageview');

</script>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    // Get list of upcoming iCal events formatted in JSON
    jQuery.getJSON("https://www.google.com/calendar/feeds/j8htsubagokulresu1a7e8hh3s%40group.calendar.google.com/public/full?orderby=starttime&sortorder=ascending&futureevents=true&max-results=3&alt=json", function(data){
      // Utility method to pad a string on the left
      // Source: http://sajjadhossain.com/2008/10/31/javascript-string-trimming-and-padding/
      function lpad(str, pad_string, length) {
        var str = new String(str);
        while (str.length < length)
          str = pad_string + str;
        return str;
      };
      // Parse and render each event
      jQuery.each(data.feed.entry, function(i, item){
        if(i == 0) {
          jQuery("#next-gigs li").first().hide();
        };
        var event_url = jQuery.trim(item.content.$t);
        var event_header = item.title.$t;
        if(event_url.length > 0) {
          event_header = event_header;
        };
        // Format the date string
        var d = new Date(item.gd$when[0].startTime);
        var d_string = (d.getMonth() + 1) + '.' + d.getDate() + '.' + d.getFullYear();
        if(d.getHours() != 0 || d.getMinutes() != 0) {
          d_string = d_string + ' at ' + lpad(d.getHours(), '0', 2) + ':' + lpad(d.getMinutes(), '0', 2);
        };
        // Render the event
        jQuery("#next-gigs li").last().before(
          "<li><strong>" + event_header + "</strong><br /> " + d_string + "<br />" + item.gd$where[0].valueString + "</li>"
        );
      });
    });
  });
</script>


<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&extension=.js"></script>
<script>
// Center of the map is roughly 38.8849732,-77.026442
//
google.maps.event.addDomListener(window, 'load', init);

var map;

function init() {
    var mapOptions = {
        center: new google.maps.LatLng(38.8968646,-77.0352825),
        zoom: 13,
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL,
        },
        disableDoubleClickZoom: true,
        mapTypeControl: false,
        scaleControl: false,
        scrollwheel: false,
        streetViewControl: false,
        draggable : true,
        overviewMapControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      { "color": "#E0AF49" },
      { "lightness": 20 }
    ]
  },{
    "featureType": "landscape",
    "elementType": "geometry",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 20 }
    ]
  },{
    "featureType": "road.highway",
    "elementType": "geometry.fill",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 17 }
    ]
  },{
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 29 },
      { "weight": 0.2 }
    ]
  },{
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 18 }
    ]
  },{
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 16 }
    ]
  },{
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 21 }
    ]
  },{
    "elementType": "labels.text.stroke",
    "stylers": [
      { "visibility": "on" },
      { "color": "#000000" },
      { "lightness": 16 }
    ]
  },{
    "elementType": "labels.text.fill",
    "stylers": [
      { "saturation": 36 },
      { "color": "#000000" },
      { "lightness": 40 }
    ]
  },{
    "elementType": "labels.icon",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "transit",
    "elementType": "geometry",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 19 }
    ]
  },{
    "featureType": "administrative",
    "elementType": "geometry.fill",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 20 }
    ]
  },{
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      { "color": "#000000" },
      { "lightness": 17 },
      { "weight": 1.2 }
    ]
  }
],

    }

    var mapElement = document.getElementById('map');
    var map = new google.maps.Map(mapElement, mapOptions);
    var locations = [
        
['Hank&#39;s Pasta Bar', 38.8138176, -77.0462838],

['The Twisted Horn', 38.942229, -77.024152],

['Bar Deco', 38.8988186, -77.0217123],

['Ivy and Coney', 38.9106579, -77.023788],

['Graffiato', 38.8986785, -77.0196444],

['Solly&#39;s', 38.9168544, -77.0294848],

['Provision 14', 38.9182634, -77.03232],

['Rebellion', 38.9153358, -77.0440318],

['Tazza Kitchen', 38.8449647, -77.0681538],

['Compass Rose', 38.9153929, -77.0316347],

['Wicked Bloom Social Club', 38.910692, -77.009456],

['Momofuku', 38.9007017, -77.0290377],

['The Dabney', 38.9062879, -77.0267934],

['Rosebar', 38.9062922, -77.0414104],

['Church and State', 38.9003688, -76.9911556],

['Blue Duck Tavern', 38.9055621, -77.0533384],

['A&amp;D', 38.9077576, -77.0242117],

['Slipstream', 38.90837, -77.0316248],

['Rye Bar @ Capella', 38.9039687, -77.0615036],

['Satellite Room', 38.918122, -77.0237358],

['Paddy Barry&#39;s', 38.9162287, -77.2267386],

['Captain Gregory&#39;s', 38.8139894, -77.0497932],

['Elizabeth&#39;s Gone Raw', 38.9039662, -77.0312109],

['Oyamel', 38.8950042, -77.0217293],

['The Speak', 38.9028833, -77.0326469],

['Zaytinya', 38.8988445, -77.0234379],

['Red Hen', 38.9150118, -77.0123991],

['The Pig', 38.9079455, -77.032187],

['McClellan&#39;s Retreat', 38.914342, -77.046554],

['Brine', 38.870081, -77.230505],

['BLT Steak', 38.90172, -77.037516],

['Maketto', 38.899881, -76.986674],

['Quill', 38.9059567, -77.03687],

['The Heights', 38.929647, -77.032265],

['Poste', 38.897013, -77.02234],

['Urbana', 38.90974, -77.047163],

['Tico', 38.916575, -77.032151],

['Eat the Rich', 38.915108, -77.021707],

['Kramerbooks &amp; Afterwords Cafe', 38.910822, -77.043742],

['Wisdom', 38.880106, -76.984193],

['The Partisan', 38.894954, -77.022491],

['Commissary', 38.90988, -77.033488],

['Tryst', 38.921977, -77.042091],

['Barrel', 38.885066, -76.997892],

['Hank&#39;s on the Hill', 38.884795, -76.997308],

['Cava Mezze', 38.881892, -76.995267],

['Rogue 24', 38.906547, -77.024835],

['Le Diplomate', 38.911308, -77.031655],

['Mason Social', 38.813474, -77.04995],

['Vinoteca', 38.916822, -77.030795],

['Fainting Goat', 38.916822, -77.030795],

['Cuba Libre', 38.900335, -77.023814],

['Lincoln', 38.9043582, -77.0330554],

['Silo', 38.901928, -77.018668],

['Bluejacket', 38.875068, -77.000735],

['Republic', 38.974598, -77.01193],

['Farmers Fishers Bakers', 38.90167, -77.05991],

['Southern Efficiency', 38.915158, -77.0216],

['Daikaya', 38.898569, -77.019588],

['Table', 38.907376, -77.02438],

['Del Campo', 38.901085, -77.022666],

['Roofer&#39;s Union', 38.92185, -77.042631],

['Rasika West End', 38.904969, -77.048089],

['Rose&#39;s Luxury', 38.880643, -76.995211],

['Sixth Engine', 38.900288, -77.017248],

['Room 11', 38.930514, -77.028069],

['Rasika', 38.894972, -77.021292],

['Range', 38.960343, -77.084602],

['Masseria', 38.9095724, -77.0014295],

['Old Ebbitt Grill', 38.898035, -77.033242],

['Jack Rose Dining Saloon', 38.917398, -77.041493],

['Hanks Oyster Bar', 38.910998, -77.038112],

['Fujimar', 38.902721, -77.032401],

['Cashions Eat Place', 38.92191, -77.043673],

['Café Saint-Ex', 38.91543, -77.031762],

['Brabo', 38.806252, -77.056728],

['Bourbon Steak', 38.904617, -77.057308],

['Bar Pilar', 38.915152, -77.0317]

    ];

    var myIcon = new google.maps.MarkerImage("http://dccraftbartendersguild.org/images/marker@2x.png", null, null, null, new google.maps.Size(26,26));
    
    for (i = 0; i < locations.length; i++) {
      var contentString = locations[i][0];
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      marker = new google.maps.Marker({
          icon: myIcon,
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          animation: google.maps.Animation.DROP,
          optimized: false,
          map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
   return function() {
     infowindow.setContent(locations[i][0]);
     infowindow.open(map,marker);
   };
 })(marker, i)
)
    }
}
</script>



  </body>
</html>